<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wilmar.cg_energy.mapper.PointValueMapper">
    <!--<cache type=""-->
    <resultMap id="BaseResultMap" type="cn.wilmar.cg_energy.entity.PointValue">
        <id property="id" column="id" javaType="Long" />
        <result property="factoryId" column="factory_id" javaType="Long" />
        <result property="factoryCode" column="factory_code" javaType="String" jdbcType="VARCHAR" />
        <result property="dataType" column="data_type" javaType="String" jdbcType="CHAR" />
        <result property="name" column="name" javaType="String" jdbcType="VARCHAR" />
        <result property="fullName" column="full_name" javaType="String" jdbcType="VARCHAR" />
        <result property="isGood" column="status" javaType="Boolean" jdbcType="BIT"/>
        <result property="value" column="value" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
        <result property="queryDate" column="query_date" javaType="java.sql.Date" jdbcType="DATE" />
        <result property="queryTime" column="query_time" javaType="java.sql.Time" jdbcType="TIME" />
        <result property="resDate" column="res_date" javaType="java.sql.Date" jdbcType="DATE" />
        <result property="resTime" column="res_time" javaType="java.sql.Time" jdbcType="TIME" />

        <result property="desc" column="description" javaType="String" jdbcType="VARCHAR" />
        <result property="unit" column="unit" javaType="String" jdbcType="VARCHAR" />
        <result property="workshop" column="workshop" javaType="String" jdbcType="VARCHAR" />
        <result property="workshopDesc" column="workshop_desc" javaType="String" jdbcType="VARCHAR" />
        <result property="workshopDescEn" column="workshop_desc_en" javaType="String" jdbcType="VARCHAR" />
        <result property="energyType" column="energy_type" javaType="String" jdbcType="VARCHAR" />
        <result property="energyType2Desc" column="energy_type_desc" javaType="String" jdbcType="VARCHAR" />
        <result property="energyType2DescEn" column="energy_type_desc_en" javaType="String" jdbcType="VARCHAR" />
        <result property="energyClass" column="energy_class_en" javaType="String" jdbcType="VARCHAR" />
        <result property="energyClassDesc" column="energy_class" javaType="String" jdbcType="VARCHAR" />
        <result property="isRenewEnergy" column="is_renew_energy" javaType="Boolean" jdbcType="BIT" />
        <result property="persistence" column="persistence" javaType="Boolean" jdbcType="BIT" />
        <result property="groupLine" column="group_line" javaType="String" jdbcType="VARCHAR" />
        <result property="groupLineDesc" column="group_line_desc" javaType="String" jdbcType="VARCHAR" />
        <result property="groupLineDescEn" column="group_line_desc_en" javaType="String" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="checkMap" type="cn.wilmar.cg_energy.vm.PointValueCheckDto">
        <id property="id" column="id" javaType="Long" />
        <result property="factoryId" column="factory_id" javaType="Long" />
        <result property="factoryCode" column="factory_code" javaType="String" jdbcType="VARCHAR" />
        <result property="dataType" column="data_type" javaType="String" jdbcType="CHAR" />
        <result property="name" column="name" javaType="String" jdbcType="VARCHAR" />
        <result property="isGood" column="status" javaType="Boolean" jdbcType="BIT"/>
        <result property="value" column="value" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
        <result property="queryDate" column="query_date" javaType="java.sql.Date" jdbcType="DATE" />
        <result property="queryTime" column="query_time" javaType="java.sql.Time" jdbcType="TIME" />
        <result property="resDate" column="res_date" javaType="java.sql.Date" jdbcType="DATE" />
        <result property="resTime" column="res_time" javaType="java.sql.Time" jdbcType="TIME" />
    </resultMap>

    <sql id="BaseColumnList">
        a.id,a.factory_id,a.name,a.full_name,a.status,a.value,a.query_date,a.query_time,a.res_date,a.res_time,
        a.desc,a.unit,a.workshop,a.workshop_desc,a.workshop_desc_en,a.energy_type,a.energy_type_desc,
        a.energy_type_desc_en,a.energy_class_en,a.energy_class,a.factory_code,a.is_renew_energy,a.persistence,
        a.group_line,a.group_line_desc,a.group_line_desc_en
    </sql>

    <insert id="insertData">
        INSERT INTO bi_plant_pointvalue
        (factory_id,data_type,query_date,query_time,res_date,res_time,status,name,
        full_name,description,unit,workshop,workshop_desc,workshop_desc_en,energy_type,energy_type_desc,energy_type_desc_en,
        energy_class_en,energy_class,value,factory_code,is_renew_energy,persistence,group_line,group_line_desc,group_line_desc_en)
        values (#{entity.factoryId},#{entity.dataType},#{entity.queryDate},#{entity.queryTime},#{entity.resDate,jdbcType=DATE},
         #{entity.resTime,jdbcType=TIME},#{entity.isGood},#{entity.name},#{entity.fullName},#{entity.desc},#{entity.unit},#{entity.workshop},#{entity.workshopDesc},
         #{entity.workshopDescEn},#{entity.energyType},#{entity.energyType2Desc},#{entity.energyType2DescEn},#{entity.energyClass},
         #{entity.energyClassDesc},#{entity.value},#{entity.factoryCode},#{entity.isRenewEnergy},#{entity.persistence},
         #{entity.groupLine},#{entity.groupLineDesc},#{entity.groupLineDescEn})
    </insert>

    <delete id="deleteCurrentDayData">
        delete from BI_Plant_PointValue
        where factory_id = #{factoryId}
          and data_type = 'day'
          and query_date = #{currentDate}
          and query_time not like '00:%'
          and query_time not like '23:%'
          and (persistence = 0 or persistence is null)
    </delete>

    <delete id="delete30DayData">
        delete from BI_Plant_PointValue
        where factory_id = #{factoryId}
          and data_type = 'day'
          and query_date &lt;= #{delDate}
          and (persistence = 0 or persistence is null)
    </delete>

    <select id="getCurrentDayData" resultMap="checkMap">
        select id,factory_id,factory_code,data_type,name,status,value,query_date,query_time,res_date,res_time
        from BI_Plant_PointValue
        where factory_id = #{factoryId} and query_date = #{currentDate} and data_type = 'day' and status = 1
    </select>

    <select id="getPointLastDataBeforeQueryDate" resultMap="checkMap">
        select top(1) id,factory_id,factory_code,data_type,name,status,value,query_date,query_time,res_date,res_time
        from BI_Plant_PointValue
        where factory_id = #{factoryId} and name = #{name} and query_date &lt; #{currentDate} and data_type = 'day' and status = 1
        order by query_date desc, query_time desc
    </select>

    <update id="updateDataPersistence">
        update BI_Plant_PointValue
        set persistence = 1
        where id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
    </update>

    <insert id="copyDataToAssignedDataType">
        insert into BI_Plant_PointValue
        (factory_id,data_type,query_date,query_time,res_date,res_time,status,name,
         full_name,description,unit,workshop,workshop_desc,workshop_desc_en,energy_type,energy_type_desc,energy_type_desc_en,
         energy_class_en,energy_class,value,factory_code,is_renew_energy,persistence)
        select factory_id,#{dataType},query_date,query_time,res_date,res_time,status,name,
               full_name,description,unit,workshop,workshop_desc,workshop_desc_en,energy_type,energy_type_desc,energy_type_desc_en,
               energy_class_en,energy_class,value,factory_code,is_renew_energy,persistence,
               group_line,group_line_desc,group_line_desc_en
        from BI_Plant_PointValue where id in
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
    </insert>
</mapper>